# LaTeX Auxiliary Files
# -------------------------------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*.run.xml
*.sh

# 忽略所有zip压缩包
*.zip

# Minted Cache Directory
# -------------------------------------
_minted-*/

# Editor & OS Specific Files
# -------------------------------------
# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db